span {
  /*display:inline-flex;*/
  width:10%;
}

button {
  font-size: 100%;
  /*flex: 1;*/
  border: 0px;
  background-color: #e9e9ed;
  padding-left: 1%;
  padding-right:1%;
  box-sizing: border-box;
  width: 160px;
}

button:hover {
  color: chocolate;
}
