<div class="navspacer"></div>
<div class="title">
  tinyBlog
</div>
<div class="navspacer"></div>
<ul class="navbar">
  <li>
    <app-home-button>
    </app-home-button>
  </li>
  <li>
    <app-articles-button>
    </app-articles-button>
  </li>
  <li>
    <app-archive-button>
    </app-archive-button>
  </li>
  <li>
    <app-downloads-button>
    </app-downloads-button>
  </li>
</ul>
<div class="spacer"></div>
<div class="mainpage">
<app-home-view>
</app-home-view>
<app-articles-view>
</app-articles-view>
<app-archive-view>
</app-archive-view>
<app-downloads-view>
</app-downloads-view>
</div>

