span {
  /*display:inline-flex;*/
  width:10%;
}

button {
  font-size: 100%;
  color: white;
  border: 0px;
  background-color:#4298b5;
  padding-left: 1%;
  padding-right:1%;
  box-sizing: border-box;
  width: 110px;
  text-align:center;
}

button:hover {
  color: chocolate;
}
