span {
  /*display:inline-flex;*/
  width:10%;
}

button {
  font-size: 100%;
  border: 0px;
  background-color: #e9e9ed;
  padding-left: 1%;
  padding-right:1%;
  box-sizing: border-box;
  width: 110px;
}

button:hover {
  color: chocolate;
}

/*
button::before {
  font-size: 100%;
  border: 0px;
  background-color: #e9e9ed;
  padding-left: 1%;
  padding-right: 1%;
  font-weight:bold;
  content: attr(title);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
*/
